<!-- views/index.ejs -->
<html>

<head>
    <title>Homepage</title>
    <!-- ✅ Use the correct path -->
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("navbar", { links: links }) %>

        <ul>
            <% users.forEach((user)=> { %>
                <%- include("user", { user: user }) %>
                    <% }); %>
        </ul>
        <!-- ✅ Include the Footer -->
        <%- include("footer") %>
</body>

</html>